<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../layouts/header'); -%>
    <title>OrdOn</title>
    <link rel="stylesheet" href="/src/css/home.css">
</head>
<body>
    <%- include('../layouts/navConnectedMed'); -%>
    <%- include('../layouts/greendoctor'); -%>
    <%- include('../layouts/footer'); -%>
</body>
</html>