<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('layouts/header'); -%>
    <title>OrdOn</title>
</head>
<body>
    <%- include('./layouts/nav/connectionManager'); -%>
    <div class="profil__right__section" style="height: 60%;">
        <h2 style="color:var(--darkblue); margin:20px auto;">Mot de passe oublié ?</h2>
        <form class="form">
             <div class="modifier__input__container">
                 <input class="profilBox" placeholder="entrer votre email">
                 <button class="btngreen btn" style="margin: 20px auto;">Valider</button>
             </div> 
         </form>
    </div>
    <%- include('./layouts/footer/footerManager'); -%>
    <%- include('./layouts/scripts'); -%>
</body>
</html>