<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../src/images/logo/LogoOrdOn.ico"/>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">  
    <link rel="stylesheet" href="../src/css/app.css">
    <link rel="stylesheet" href="../src/css/home.css">
    <link rel="preconnect" href="https://fonts.gstatic.com/%22%3E">
    <link href="https://fonts.googleapis.com/css2?family=Raleway&family=Roboto&display=swap" rel="stylesheet">
    <title>OrdOn</title>
</head>
<body>
    <nav>
        <img class="logo" src="../src/images/logo/OrdOnpetit.png">
        <ul>
            <li><a>Mon profil</a></li>
            <li><a> Mes ordonnances </a></li>
            <li>
                <a>Se déconnecter</a>
                <a><img class="deco" src="../src/images/logo/LogoOrdOn.png"></a>
            </li>
        </ul>
    </nav>
    <section class="sectiondark">
        <p>En consultation chez un médecin ?</p>
        <button class="btngreensmall">Je génère mon QR Code</button>
    </section>
    <section class="sectionblue">
        <p>Avec OrdOn, récuperer et consulter facilement vos ordonnances médicales de manière sécurisé !</p>
        <button class="btngreen">S'inscrire</button>
    </section>
    <section class="sectionwhite">
        <h2>Comment ça marche ?</h2>
        <div class="triple">
            <article class="article3">
                <h4>1ère étape</h4>
                <img class="etape" src="../src/images/logo/LogoOrdOn.png">
                <p class="liste">Inscrivez vous sur OrdOn</p>
            </article>
            <article class="article3">
                <h4>2ème étape</h4>
                <img class="etape" src="../src/images/home/qrcodeprofil.png">
                <p class="liste">Présenter votre QR code à votre prochaine visite médical et récuperer votre ordonnance</p>
                <p class="liste">Le médecin se chargera de vérifier vos informations</p>
            </article>
            <article class="article3">
                <h4>3ème étape</h4>
                <img class="etape" src="../src/images/home/prescription.png">
                <p class="liste">Présenter le QR Code de l’ordonnance à la pharmacie puis récuperer vos médicaments</p>
            </article>
        </div>
    </section>
    <section class="sectiongreen">
        <h3>Pourquoi OrdOn ?</h3>
        <div class="triple">
            <article class="article3">
                <img class="etape" src="../src/images/home/recyclage.png">
                <p class="liste">Réduire l’utilisation de papiers</p>
            </article>
            <article class="article3">
                <img class="etape" src="../src/images/home/internet.png">
                <p class="liste">Accèder facilement à vos ordonnances</p>
            </article>
            <article class="article3">
                <img class="etape" src="../src/images/home/cadena.png">
                <p class="liste">Sécurisation de vos données personnelles</p>
            </article>
        </div>
    </section>
    <footer>
        <div class="foot">
            <ul class="ulfoot">
                <li class="footm">Liens</li>
                <li class="foots"><a>Se connecter</a></li>
                <li class="foots"><a>S'inscrire</a></li>
            </ul>
            <ul class="ulfoot">
                <li class="footm">Aide</li>
                <li class="foots"><a>FAQ</a></li>
            </ul>
            <ul class="ulfoot">
                <li class="footm">Légal</li>
                <li class="foots"><a>Conditions Générales d’Utilisations</a></li>
                <li class="foots"><a>Politique de confidentialité</a></li>
                <li class="foots"><a>Mentions légales</a></li>
            </ul>
            <ul>
                <li class="footm">Réseaux sociaux</li>
                <li class="footlogo"><a><img class="footimage" src="../src/images/logo/Twitter_Bird.png"></a></li>
                <li class="footlogo"><a><img class="footimage" src="../src/images/logo/facebook.png"></a></li>
                <li class="footlogo"><a><img class="footimage" src="../src/images/logo/instagram.png"></a></li>
            </ul>
        </div>
        <div>
            <h6>OrdOn © Tous droits réservés - 2021</h6>
        </div>
    </footer>
</body>
</html>