<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('layouts/header'); -%>
  <title>OrdOn</title>
  <link rel="stylesheet" href="/src/css/home.css">
  <link rel="stylesheet" href="../src/css/connectionPath.css"/>
  <link rel="stylesheet" href="../src/css/app.css">
</head>
  <body>
    <%- include('layouts/nav'); -%>
    <div class="body">
      <h1 class="title">Veuilez sélectionnez votre statut pour vous inscrire</h1>
      <div class="container1">
          <div class="box">
            <div class="boxContent">
              <a href="Patient/registerPatient"><img src="../src/images/connection/patient.png" alt="patien image"></a>
              <p class="desc">Patient</p>
            </div>
            <a href="#"></a>
          </div>
          <div class="box">
            <div class="boxContent">
              <a href="Doctor/registerDoctor"><img src="../src/images/connection/doctor.png" alt="docteur image"></a>
              <p class="desc">Docteur</p>
            </div>
            <a href="#"></a>
          </div>
          <div class="box">
            <div class="boxContent">
              <a href="/pharmacist/registerPharmacist"><img src="../src/images/connection/pharmacien.jpg" alt="pharmacien image"></a>
              <p class="desc">Pharmacien</p>
            </div>
            <a href="#"></a>
          </div>
      </div>
    </div>
    <%- include('layouts/footer'); -%>
    <%- include('layouts/scripts'); -%>
    <script src="https://kit.fontawesome.com/7c35e24fba.js" crossorigin="anonymous"></script>
  </body>
</html>