<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./header'); -%>
    <title>OrdOn</title>
</head>
<body>
    <%- include('./nav/connectionManager'); -%>
    <div style="width: 100%;display:block;">
        <h1 style="display:block;margin: 0 auto; color:var(--darkblue);text-align:center;">
            Un email vous a été envoyé, suivez les indications pour valider votre inscription
        </h1>
    </div>
    <%- include('./footer/footerManager'); -%>
</body>
</html>