<section class="sectiongreen">
    <h3>Pourquoi OrdOn ?</h3>
    <div class="triple">
        <article class="article3">
            <img class="etape" src="/src/images/home/recyclage.png">
            <p class="liste">Réduire l’utilisation de papiers</p>
        </article>
        <article class="article3">
            <img class="etape" src="/src/images/home/internet.png">
            <p class="liste">Accèder facilement à vos ordonnances</p>
        </article>
        <article class="article3">
            <img class="etape" src="/src/images/home/cadena.png">
            <p class="liste">Sécurisation de vos données personnelles</p>
        </article>
    </div>
    <div style="padding:20px;">
        <h5>Il vous reste encore des doutes ?</h5>
        <a><h5 style="text-decoration: underline;">Consulter notre FAQ</h5></a>
    </div>
</section>