<section class="sectiongreen">
    <h3>Comment utiliser OrdOn ?</h3>
    <div class="triple">
        <article class="article3">
            <img class="etape" src="/src/images/home/qrcodeprofil.png">
            <p class="liste">1 - Scannez le QR code de votre patient</p>
        </article>
        <article class="article3">
            <img class="etape" src="/src/images/home/médicament.png">
            <p class="liste">2 - Attribuez les médecins prescrits</p>
        </article>
        <article class="article3">
            <img class="etape" src="/src/images/home/LogoOrdOnwhite.png">
            <p class="liste">3 - Fermez l’ordonnance, elle sera de nouveau consultable dans vos ordonnances archivées</p>
        </article>
    </div>
    <div style="padding: 50px 0px 20px 0px;">
        <h5>Il vous reste encore des doutes ?</h5>
        <a><h5 style="text-decoration: underline;">Consulter notre FAQ</h5></a>
    </div>
</section>