<nav>
    <a href="/"><img class="logo" src="/src/images/logo/OrdOnpetit.png"></a>
    <ul>
        <li><a a href="/pharmacien/profil">Mon profil</a></li>
        <li><a a href="/pharmacien/ordonnancearchive">Ordonnances archivées</a></li>
        <li>
            <a>Se déconnecter</a>
            <a><img class="deco" src="/src/images/logo/LogoOrdOn.png"></a>
        </li>
    </ul>
</nav>