<nav>
    <a href="/patient"><img class="logo" src="/src/images/logo/OrdOnpetit.png"></a>
    <ul>
        <li><a href="/patient/profil">Mon profil</a></li>
        <li><a href="/patient/ordonnance"> Mes ordonnances </a></li>
        <li>
            <a>Se déconnecter</a>
            <a><img class="deco" src="/src/images/logo/LogoOrdOn.png"></a>
        </li>
    </ul>
</nav>