<nav>
    <a href="/patient"><img class="logo" src="/src/images/logo/OrdOnpetit.png"></a>
    <ul>
        <li>
            <a href="/deconnexion">Se déconnecter</a>
            <a><img class="deco" src="/src/images/logo/LogoOrdOn.png"></a>
        </li>
    </ul>
    <div class="open-responsive-menu responsive-menu" onclick="openResponsiveMenu()">
        <div class="open-responsive-menu__base"></div>
    </div>
</nav>
<div class="background-black"></div>
<aside>
    <ul>
        <li style="text-align: right;display: flex;justify-content: flex-end;">
            <div style="cursor: pointer;" onclick="closeResponsiveMenu()">
                <div class="close-responsive-menu responsive-menu">
                </div>
            </div>
        </li>
        <li><a href="/deconnexion">Se déconnecter</a></li>
    </ul>
</aside>
