<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../layouts/header'); -%>
    <title>OrdOn</title>
    <link rel="stylesheet" href="/src/css/home.css">
</head>
<body>
    <%- include('../layouts/nav/connectionManager'); -%>
    <section class="sectionwhiteConnected">
        <h2 style="color: var(--darkblue);">Rechercher une ordonnance</h2>        
        <div class="profilform">   
            <form class="form">
                <div class="modifier__input__container" style="margin: 10px auto;">
                    <input class="profilBox" placeholder="Nom du patient" >
                    <input class="profilBox" placeholder="Prénom du patient" >
                    <input class="profilBox" placeholder="Date">
                </div>
                <button class ="btngreen">Rechercher</button> 
            </form>>
        </div>
        <div class="mesordonnances">
            <article class="consultation">
                <div>
                    <p class="date">Consultation du 17 juin 2021</p>
                    <p class="doctorright">Ordonnance émise par Dr Pathy - podologue</p>
                </div>
                <div>
                    <p class="doctor">Mme Blanchelle Marie</p>
                </div>
                <div class="voirgenerer">
                    <btn class="btngreensmall">Voir</btn>
                </div>
            </article>
            <article class="consultation">
                <div>
                    <p class="date">Consultation du 17 juin 2021</p>
                    <p class="doctorright">Ordonnance émise par Dr Pathy - podologue</p>
                </div>
                <div>
                    <p class="doctor">Mme Blanchelle Marie</p>
                </div>
                <div class="voirgenerer">
                    <btn class="btngreensmall">Voir</btn>
                </div>
            </article>
            <article class="consultation">
                <div>
                    <p class="date">Consultation du 17 juin 2021</p>
                    <p class="doctorright">Ordonnance émise par Dr Pathy - podologue</p>
                </div>
                <div>
                    <p class="doctor">Mme Blanchelle Marie</p>
                </div>
                <div class="voirgenerer">
                    <btn class="btngreensmall">Voir</btn>
                </div>
            </article>
        </div>
    </section>
    <%- include('../layouts/footer/footerManager'); -%>
    <%- include('../layouts/scripts'); -%>
</body>
</html>