body .title {
    text-align: center;
    font-size: 35px;
    font-style: italic;
    color: var(--darkblue);
    margin: 30px 0px;
}
.btn {
    border-radius: 60px;
    font-family: 'Raleway';
    color: var(--white);
    font-size: 20px;
    background: var(--green);
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    border: none;
    margin: 20px;
  }
  .btn:hover {
    cursor: grab;
  }
  
form {
    margin: 0 auto;
    text-align: center;
}
.signup {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
    /* margin-top: 40px; */
    /* margin-bottom: 40px; */
    color: var(--white);
    background-color: var(--darkblue);
    /* padding: 50px 0px; */
    width: 300px;
    margin: 40px auto;
}
.signup a{
   
    color:var(--white);
    background: var(--darkblue);
    
}
.register{
    margin-left: 20px;
    text-decoration: underline;
}
.descSignup{
    background: var(--darkblue);
}