.container0 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: nowrap;
}
.container0 .logo img{
    width: 249px;
    height: 97px; 
}
body .title{
    text-align:center;
    color:var(--darkblue);
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    width:100%;
    padding: 15px 0px;
    font-size: 1.5rem;
    margin-top: 50px;

}
.container1 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    margin: 100px;
    
}

.container1 .box .boxContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 15px;
}
.container1 .box .boxContent img{
    width: 223px;
    height: 223px;
}
.desc{
    font-size: 30px;
}