body .title {
    text-align: center;
    font-size: 35px;
    color: var(--darkblue);
    margin: 30px 0px;
}
.boutton {
    border-radius: 60px;
    font-family: 'Raleway';
    color: var(--white);
    font-size: 20px;
    background: var(--green);
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    border: none;
    margin: 20px;
  }
  .btn:hover {
    cursor: grab;
  }
  
form {
    margin: 0 auto;
    text-align: center;
}
.signup {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin:40px auto;
    background-color: var(--darkblue);
    color: var(--white);
    width: 600px;
    justify-content: space-around;
}
.signup a{
   
    color:var(--white);
    margin: 10px;
    
}

.signinbx{
  text-decoration: underline;
  letter-spacing: 0.8px;
}
.register{
  margin: 0 0 2rem 3rem;
    text-align: left;
    text-decoration: underline;
    color:var(--dark);
}
.descSignup{
    margin:10px;
    margin-right: 100px;
}

.titlteConsigne{
    font-size:25px;
}
.textConsigne{
    font-size:14px;
    padding-left:10px;
    text-align: justify;
    padding-left:40px;

}