body .title {
    text-align: center;
    font-size: 35px;
    font-style: italic;
    color: var(--darkblue);
    margin-top: 30px;
}
.btn {
    border-radius: 60px;
    font-family: 'Raleway';
    color: var(--white);
    font-size: 20px;
    background: var(--green);
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    border: none;
    margin: 20px;
  }
  .btn:hover {
    cursor: grab;
  }
  form .inputID{
    border-radius: 60px;
    font-family: 'Raleway';
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    border: 2px solid var(--darkblue);
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .container .formulaire{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin: 40px;
  }
  .container .formulaire .champ1, .container .formulaire .champ2{
    order: 0;
    flex: 1 0 auto;
    align-self: auto;
  }
.signup{
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 40px;
    background-color: var(--darkblue);
    color:var(--white);
}
.signup a{
   
    color:var(--white);
    margin: 10px;
    
}
.register{
    margin-left: 20px;
    text-decoration: underline;
}
.descSignup{
    margin:10px;
    margin-right: 100px;
}