.container0 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: nowrap;
}
.container0 .logo img{
    width: 249px;
    height: 97px; 
}
body .title{
    margin:20px;
    padding: 5px;
    text-align: center;
    color:#356D80;
    font-size: 35px;

}
.container1 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    margin:120px auto;
    
}

.container1 .box .boxContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 15px;
}
.container1 .box .boxContent img{
    width: 223px;
    height: 223px;
}
.desc{
    font-size: 30px;
}