
#doctorInfos{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    width: 90%;
}

#doctorInfosLeft{
    padding: 5px;
    display:block;
}

#doctorInfosRight{
    padding: 5px;
    display:block;
}

.doctorTextLeft{
    text-align: left;
}

.doctorTextRight{
    text-align: right;
}

h3{
    color: var(--dark);
    padding: 6px;
}

.fixedLeft{
    margin-left: 5%;
}

.fixedRight{
    margin-right: 5%;
}

#madeWhereWhen{
    margin-left: auto;
    display: flex;
    justify-content: flex-end;
}

#infosPatient h3{
    width: fit-content;

}

#prescription{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

#prescription table{
    table-layout: fixed;
    width: 100%;
}

#prescription thead th{
    color: white;
    background-color: #31E093;
    padding-top: 15px;
    padding-bottom: 15px;
}


#prescription tbody td{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.tdcase{
    color:var(--white);
    background-color: var(--green);
    width: 100%;
    height: 100%;
    text-align: center;
    padding-top: 0px;
    padding-bottom: 0px;
    transition: 0.3s ease-out;
}
.tdcase:hover{
    background-color:var(--darkblue);
}
.greenButton{
    font-weight: bold;
    padding:10px;
    color: white;
    background-color: #31E093;
    border:none;
    border-radius: 25px;
}

.greencase{
    color:var(--white);
    background: transparent;
    width: 100%;
    height: 100%;
    border: none;
    padding-left: 45%;
    font-size: 1rem;
    text-decoration:underline;
    transition: 0.3s ease-out;
}
.greencase:hover{
    color:var(--danger_light);
}

.signal{
    color:var(--danger_light);
    font-size: 0.9rem;
    text-decoration: underline;
}

.medicRow td{
    background-color: #F2F4F4;
}

.tipRow td{
    background-color: #F2F4F4;
}

#addMedic{
    display: block;
    margin-top: 8px;
    margin-bottom: 8px;
}

.center{
    width:max-content;
    margin-left: auto;
    margin-right: auto;
}

#createOrdonnanceButton{
    border-radius: 25px;
    border: none;
    bottom: 10px;
}

#coverPage{
    position: absolute;
    left: 0px; top: 0px;
    background-color: black; 
    display: none; 
    opacity: 40%;
    width: 100%; 
    height: 100%;
}

#newMedicWindow, #newTipWindow{
    width: 50%;
    background-color: white;
    border-radius: 25px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 10px;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#newMedicWindow h5, #newTipWindow h5{
    margin-top: 5px;
    text-decoration: underline;
    text-align: center;
}

#newMedicWindow h2, #newTipWindow h2{
    color: #31E093;
    text-align: center;
}

#newMedicWindow input, #newTipWindow textarea{
    border: 2px solid #4da7fb;
    border-radius: 25px;
}

input, textarea, select{
    padding-left:10px;
    padding-top: 5px;
    padding-bottom: 5px;   
}

#nameInput{
    width: 40%;
    margin-left: 0px;
    margin-right: 7%;
}

#quantityInput{
    width: 40%;
    margin-right: 0px;
}

#descriptionInput{
    width: 90%;
    margin-top: 10px;
}

#newMedicWindow h3{
    width: 90%;
    padding-left: 5px;
    color: white;
    text-align: left;
    background-color: #31E093;
}

#inputMentions{
    display: flex;
}

#inputMentions select{
    width: 40%;
}

#newMedicWindow button{
    margin: 5px;
    font-weight: bold;
    padding:10px;
    color: white;
    background-color: #31E093;
    border-radius: 25px;
    border: none;
}

#mentions, #mentionsRow{
    display: flex;
}

#mentionsRow{
    justify-content: center;
    flex-wrap: wrap;
}

.mention, .mentionInRow{
    background-color: #31E093;
    border-radius: 5px;
    margin-right: 4px;
    color: white;
    padding: 4px;
}

#validMedic{
    display: block;
    margin-left: auto;
    margin-right: auto;
}


#tips{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

#tips table{
    table-layout: fixed;
    width: 100%;
}

#tips thead th{
    color: white;
    background-color: #356D80;
    padding: 15px 15px 15px 30px;
    text-align:left;
}

#tips tbody td{
    background-color: #F4F6F6;    
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}


.blueButton{
    font-weight: bold;
    padding:10px;
    color: white;
    background-color: #356D80;
    border:none;
    border-radius: 25px;
}

#addTip{
    display: block;
    margin-top: 8px;
    margin-bottom: 8px;
}

#tipInput{
    margin-right: auto;
    margin-left: auto;
    width: 90%;
    height: 100px;
}

