
#doctorInfos{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    width: 80%;
}

#doctorInfosLeft{
    padding: 5px;
    display:block;
}

#doctorInfosRight{
    padding: 5px;
    display:block;
}

#doctorInfosRightTop{
    border-bottom: 2px solid #4da7fb;
}

.doctorText{
    color: #4da7fb;
}

#madeWhereWhen{
    margin-right: 10%;
    margin-left: auto;
    display: flex;
    justify-content: flex-end;
}

#infosPatient{
    margin-left: 10%;
}

#prescription{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}


.prescriptionLine{
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

input{
    border: 2px solid black;
}

#nameInput{
    width: 20%;
}

#descriptionInput{
    width: 60%;
}

#mentionInput{
    width: 10%;
}

button{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#addLine{
    border: 2px solid black;
    margin-bottom: 5px;
}

#createOrdonnanceButton{
    border-radius: 25px;
    border:4px solid #4da7fb;
    font-size: large;
    bottom: 10px;
}