.etape{
    width: 120px;
    display: block;
    margin: 50px auto;
}

article{
    width: 400px;
    align-items: center;
    display: block;
}

.article3{
    margin: 0 auto;
}
.articleOrd{
    background-color: var(--white);
    width: 250px;
    height:200px;
    border-radius: 40px;
    align-items: center;
    display: block;
    margin-right: 50px;
    margin-left: 50px;
}
.articleOrdpass{
    background-color: var(--darkblue);
    color:var(--white);
    width: 250px;
    height:200px;
    border-radius: 40px;
    align-items: center;
    display: block;
}

.liste{
    display: block;
    margin: 5px 40px;
    text-align: center;
    font-size: 1rem;
    color: var(--white);
}
.sectionwhite .liste {
    color: var(--dark);
}

.sectionblue{
    width: 100%;
    background-color: var(--blue);
    color: var(--white);
    padding: 80px 30px;
    display: flex;
    font-size: 1.2rem;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}
.sectionblueConnected{
    width: 100%;
    height: 360px;
    background-color: var(--blue);
    color: var(--white);
    padding: 0px 30px;
    display: inline-block;
    font-size: 1.2rem;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: center;
}

.sectionwhite{
    width: 100%;
    background-color: var(--white);
    color: var(--dark);
    font-size: 1.1rem;
    justify-content: space-around;
    flex-wrap: nowrap;
}

.sectionwhiteConnected{
    width: 100%;
    height: 360px;
    background-color: var(--white);
    color: var(--white);
    padding: 0px 30px;
    display: inline-block;
    font-size: 1.2rem;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: center;
}
.sectiongreen{
    width: 100%;
    background-color: var(--green);
    color: var(--white);
    padding: 0px 30px;
    font-size: 1.2rem;
    justify-content: space-between;
    flex-wrap: wrap;
}

.sectiondark{
    width: 100%;
    height: 50px;
    background-color: var(--darkblue);
    color: var(--white);
    padding: 0px 30px;
    display: flex;
    font-size: 1.2rem;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: center;
}

.sectionred{
    width: 100%;
    height: 50px;
    background-color: var(--danger_light);
    color: var(--white);
    padding: 0px 30px;
    display: flex;
    font-size: 1.2rem;
    justify-content:space-between;
    flex-wrap: nowrap;
    align-items: center;
}

.triple{
    width: 100%;
    padding: 15px ;
    display: flex;
    font-size: 1.1rem;
    justify-content: space-between;
    flex-wrap: wrap;
}

.parBlue{
    color:var(--blue);
    padding: 20px 20px 0px 20px;
    font-size: 0.9rem;
}

.parWhite{
    color:var(--white);
    padding: 20px 20px 0px 20px;
    font-size: 0.9rem;
}
.sectionwhite article {
    position: relative;
}

.sectionwhite article h4 {
    color : #384B52;
    font-weight: initial;
}

@media screen and (max-width:1247px) {
    .sectionwhite .triple {
        flex-direction: column;
    }
    .sectionwhite .triple article {
        display: flex;
        flex-wrap: wrap;
        width: auto;
        justify-content: center;
    }
    .sectionwhite .triple article h4 {
        width: 100%;
    }
    .sectionwhite .triple article img {
        margin: 0;
    }
}