<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <link rel="icon" href="../../src/image/LogoOrdOn.ico"/>
    <link rel="stylesheet" href="../../src/css/connectionPages.css"/>
    <script src="https://kit.fontawesome.com/7c35e24fba.js" crossorigin="anonymous"></script>
    <title>OrdON</title>
  </head>
  <body>
        <header>
        <div class="container0">
            <div class="logo">
                <a href="#"><img src="../../src/image/OrdOn.png" alt="logo"></a>
            </div>
        <div class="navbar">
        
        <div class="icon-bar" onclick="Show()">
            <i></i>
            <i></i>
            <i></i>
        </div>
        
        <ul id="nav-lists">
            <li class="close"><span onclick="Hide()">×</span></li>
            <li><a href="#">S'inscrire</a></li>
            <li><a href="#">Se connecter</a></li>
        </ul>
        
                </div>
        </div>
    </header>
        <div class="body">
            <h1 class="title">Veuilez sélectionnez votre statut pour vous connecter</h1>
            <div class="container1">
                <div class="box">
                  <div class="boxContent">
                    <a href="#"><img src="../../src/image/patient.png" alt="patien image"></a>
                    <p class="desc">Patient</p>
                  </div>
                  <a href="#"></a>
                </div>
                <div class="box">
                  <div class="boxContent">
                    <a href="#"><img src="../../src/image/doctor.png" alt="docteur image"></a>
                    <p class="desc">Docteur</p>
                  </div>
                  <a href="#"></a>
                </div>
                <div class="box">
                  <div class="boxContent">
                    <a href="#"><img src="../../src/image/pharmacien.jpg" alt="pharmacien image"></a>
                    <p class="desc">Pharmacien</p>
                  </div>
                  <a href="#"></a>
                </div>
            </div>
        </div>
        <div class="footer">
            <footer>
                <div class="container2">
                    <div class="item">
                        <div class="itemContent">
                            <h3>Liens</h3>
                            <ul class ="footerText">
                                <li><a href="#">Se connecter</a></li>
                                <li><a href="#">S'inscrire</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="item">
                        <div class="itemContent">
                            <h3>Aide</h3>
                            <ul class ="footerText">
                                <li><a href="#">FAQ</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="item">
                        <div class="itemContent">
                            <h3>Légal</h3>
                            <ul class ="footerText">
                                <li><a href="#">Job openings</a></li>
                                <li><a href="#">Employee success</a></li>
                                <li><a href="#">Benefits</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="item">
                        <div class="itemContent">
                            <h3>Réseaux sociaux</h3>
                            <div class ="footerText">
                                <a href="#"><i class="fab fa-facebook icon"></i></a>
                                <a href="#"><i class="fab fa-twitter icon"></i></a>
                                </a><a href="#"><i class="fab fa-instagram icon"></i></a>
                            </div>
                        </div> 
                    </div>
                </div>
                <div>
                    <p class="copyright">OrdON © Tous droits réservé - 2021</p>
                </div>
            </footer>
        </div>  
  </body>
</html>