<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <meta http-equiv='X-UA-Compatible' content='IE=edge'>
        <title>Créer une ordonnance</title>
        <meta name='viewport' content='width=device-width, initial-scale=1'>
        <link rel='stylesheet' type='text/css' media='screen' href='../../src/css/createPrescription.css'>
        <script src='../../src/js/createPrescription.js'></script>
    </head>
    <body>
        <div id="doctorInfos">
            <div id="doctorInfosLeft">
                <h3 class="doctorText">Docteur</h3>
                <h3 class="doctorText">Nom du docteur</h3>
            </div>
            <div id="doctorInfosRight">
                <div id="doctorInfosRightTop">
                    <h3 class="doctorText">Adresse du docteur</h3>
                    <h3 class="doctorText">CP et ville</h3>
                </div>
                <div id="doctorsInfosRightBottom">
                    <h3 class="doctorText">Tel cabinet</h3>
                    <h3 class="doctorText">Tel urgence</h3>
                </div>
            </div>
        </div>

        <h3 id="madeWhereWhen" class="doctorText">Fait à XXX, le XX/XX/XXXX</h3>

        <div id="infosPatient">
            <h3>Mmme/M NOM Prenom</h3>
            <h3>Age, Poids</h3>
        </div>

        <div id="prescription">
            <div id="prescriptionLines">
                <div class="prescriptionLine">
                    <input id="nameInput" type="text" name="medicName" required>
                    <input id="descriptionInput" type="text" name="medicDescription" required>
                    <input id="mentionInput" type="text" name="medicMention" required>
                </div>
            </div>
            <button id="addLine" type="button" onclick="addLine()">Ajouter un médicament</button>
            <textarea type="text" name="advice" rows="5" cols="35"></textarea>
        </div>

        <button id="createOrdonnanceButton" type="button">Valider mon ordonnance</button>

    </body>
</html>