<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../layouts/header'); -%>
    <title>OrdOn</title>
</head>
<body>
    <%- include('../layouts/nav/connectionManager'); -%>
    <div style="width: 100%;display:block;">
        <h1 style="display:block;margin: 0 auto; color:var(--darkblue);text-align:center;">Ordonnance envoyée !</h1>
        <p style="display: block;margin: 2rem auto;font-size:1.1rem;color:var(--darkblue);width:80%;text-align:center">
            Votre patient devrait la recevoir sur son espace d'ici quelques secondes<br>
        </p>
    </div>
    <%- include('../layouts/footer/footerManager'); -%>
</body>
</html>