<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../layouts/header'); -%>
    <title>OrdOn</title>
    <link rel="stylesheet" href="/src/css/home.css">
</head>
<body>
    <%- include('../layouts/navConnected'); -%>
    <section class="sectionred">
        <p>Votre adresse mail n'a pas été vérifiée !</p>
        <p style="font-size: 0.9rem;">Vous ne pouvez pas transmettre vos informations via un QR code sans avoir vérifié votre email</p>
    </section>
   <div class="profil">
       <div class="darkSide">
            <ul class="ulprofil">
                <li class="liprofil"><a>Accueil profil</a></li>
                <li class="liprofil"><a>Modifier email</a></li>
                <li class="liprofil"><a>Modifier le mot de passe</a></li>
                <div style="padding-top:70px;padding-bottom: 350px;">
                    <btn class="btngreen" style="font-size: 1rem; font-weight: normal;" onclick="showQR()"><a>Générer QR code</a></btn>
                </div>
                <li class="liprofil"><a>Supprimer le compte</a></li>
            </ul>
       </div>
       <div class="profilform">
           <h2 style="color:var(--darkblue)">Mon profil</h2>
           <form>
                <div style="padding:50px;">
                    <input class="profilBox" placeholder="Nom">
                    <input class="profilBox" placeholder="Prénom">
                    <input class="profilBox" placeholder="Date de naissance">
                    <input class="profilBox" placeholder="mail@mail.com" style="background-color: var(--grey);">
                </div> 
                <div>
                    <p style="color:var(--danger_light)">Attention une fois votre compte validé par un médecin vous ne pourez plus modifier certaines informations</p>
                </div>
                <div style="padding:50px;">
                    <btn class="btngreen">Valider</btn>
                </div>
                
            </form>
       </div>
   </div>
    <%- include('../layouts/footer'); -%>
</body>
</html>