<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../layouts/header'); -%>
    <title>OrdOn</title>
    <link rel="stylesheet" href="/src/css/connectionPage.css"/>
</head>
  <body>
    <%- include('../layouts/nav'); -%>
        <%- include('../layouts/footer'); -%>
        <script src="https://kit.fontawesome.com/7c35e24fba.js" crossorigin="anonymous"></script>
  </body>
</html>